.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.dsa {
  width: 1200px;
  height: 414px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #292f36;
  border-radius: 70px;
  padding-top: 100px;
  padding-bottom: 95px;
}

.join-title {
  /* Wanna join the interno? */

  /* position: absolute; */
  width: 534px;
  /* height: 75px;
  left: calc(50% - 534px / 2);
  top: 100px; */

  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #ffffff;
  padding-top: 9px;
  margin: 0 auto;
}

.join-text {
  /* Contact Us & Get a Free Consultation */
  /* 
  position: absolute;
  width: 371px;
  height: 33px;
  left: calc(50% - 371px / 2 + 0.5px);
  top: 184px; */

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #ffffff;
  margin: 0 auto;
}

.join-button {
  background-image: url("img/image5.webp");
  box-sizing: border-box;

  background-color: transparent;
  background-repeat: no-repeat;
  border: 2px solid #292f36;

  /* Vector */
  /* Frame */

  /* position: absolute;
  width: 241px;
  height: 71px;
  left: calc(50% - 241px / 2 - 5.5px);
  top: 248px; */

  display: block;
  width: 271px;
  position: relative;
  padding-right: 67px;
  padding-left: 34px;
  padding-top: 95px;
  padding-bottom: 31px;
  margin: 0 auto;
}

.qwe {
  /* Connect With us */

  position: absolute;
  /* width: 140px;
  height: 27px;
  left: calc(50% - 140px / 2 - 16.5px);
  top: 21px; */

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #ffffff;
  top: 39px;
  left: 51px;
}

.photo-ul {
  list-style: none;
  display: flex;
  padding-top: 31px;
}

.er:not(:last-child) {
  margin-right: 40px;
}

.phot {
  /* IMAGE */

  height: 50px;
  left: 0%;
  right: 55%;
  top: calc(50% - 50px / 2 - 161.8px);

  border-radius: 0px;
}

.interno-text {
  /* We are the leading architect and interior design firm in the world. */

  height: 66px;
  left: 0%;
  right: 17.12%;
  top: 65.2px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* or 150% */
  letter-spacing: 0.22px;

  color: #4d5053;
}

.ulka {
  display: flex;
  list-style: none;
}

.explore {
  margin-left: 162px;
  margin-right: 138px;
}

.tyu {
  display: flex;
  margin-top: -30px;
}

.ulty {
  margin-left: 83px;
}

.mnb {
  display: flex;
  padding-top: 130px;
}

.interno-text {
  width: 326px;
}

.ulty {
  list-style: none;
  padding-bottom: 110px;
}

.po {
  /* Pages */

  height: 38px;
  left: -0.17%;
  right: 69.32%;
  top: -0.8px;

  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height, or 150% */
  letter-spacing: 0.22px;

  color: #292f36;
}

.op {
  /* Explore */

  height: 38px;
  left: -0.04%;
  right: 57.8%;
  top: -0.8px;

  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height, or 150% */
  letter-spacing: 0.22px;

  color: #292f36;
}

.pi {
  /* Contact */

  height: 38px;
  left: 0.06%;
  right: 73.84%;
  top: -0.8px;

  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height, or 150% */
  letter-spacing: 0.22px;

  color: #292f36;
}

.hj {
  padding-top: 30px;
}

.cv {
  /* Style Guide */

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  letter-spacing: 0.22px;

  color: #4d5053;
}

.mi {
  padding-top: 35px;
  padding-bottom: 36px;
  text-align: center;
  /* Copyright © Interno | Designed by */

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #4d5053;
}

.zx {
  /* Victorflow */

  width: 101px;
  height: 33px;
  left: calc(50% - 101px / 2 + 9.5px);
  top: -0.8px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #cda274;
}
